**В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?**

In [2]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI' : lst})
data.head()

  whoAmI
0  robot
1  robot
2  robot
3  human
4  human

In [7]:
data.loc[data['whoAmI'] == 'robot','robot'] = 1
data.loc[data['whoAmI'] != 'robot','robot'] = 0
data.loc[data['whoAmI'] == 'human','human'] = 1
data.loc[data['whoAmI'] != 'human','human'] = 0
data.head()

  whoAmI  robot  human
0  robot    1.0    0.0
1  robot    1.0    0.0
2  robot    1.0    0.0
3  human    0.0    1.0
4  human    0.0    1.0